{% extends 'base.html' %}

{% block content %}
    

    <h2>Brake Pad Design</h2>
    <div class="main-container">
        <div class="input-container">
            <form method="post">
                <div class="form-row">
                    <div class="form-column">
                        <label for="total_mass">Total Mass (Vehicle + Rider) (kg):</label>
                        <input type="number" id="total_mass" name="total_mass" step="any" value="280" required>

                        <label for="initial_velocity">Initial Velocity (km/h):</label>
                        <input type="number" id="initial_velocity" name="initial_velocity" step="any" value="60" required>

                        <label for="stopping_distance">Stopping Distance (m):</label>
                        <input type="number" id="stopping_distance" name="stopping_distance" step="any" value="20" required>

                        <label for="pad_area">Pad area (cm²):</label>
                        <input type="number" id="pad_area" name="pad_area" step="any" value="50" required>
                    </div>
                    <div class="form-column">
                        <label for="pad_wear_rate">Pad wear rate (mm/1000km):</label>
                        <input type="number" id="pad_wear_rate" name="pad_wear_rate" step="any" value="0.1" required>

                        <label for="pad_thickness">Pad thickness (mm):</label>
                        <input type="number" id="pad_thickness" name="pad_thickness" step="any" value="8" required>
                    </div>
                </div>
                <input type="submit" value="Calculate" class="calculate-btn">
            </form>
        </div>

        {% if results %}
        <div class="results-container">
            <h3>Results:</h3>
            <p>Heat Flux: {{ results['heat_flux'] }}</p>
            <p>Wear Life: {{ results['wear_life'] }}</p>
        </div>
        {% endif %}
    </div>
{% endblock %}
