{% extends 'base.html' %}

{% block content %}
    

    <h2>Connecting Rod Design</h2>
    <div class="main-container">
        <div class="input-container">
            <form method="post">
                <div class="form-row">
                    <div class="form-column">
                        <label for="piston_diameter">Piston Diameter (mm):</label>
                        <input type="number" id="piston_diameter" name="piston_diameter" step="any" value="90" required>

                        <label for="max_combustion_pressure">Max Combustion Pressure (MPa):</label>
                        <input type="number" id="max_combustion_pressure" name="max_combustion_pressure" step="any" value="8" required>

                        <label for="reciprocating_mass">Reciprocating Mass (kg):</label>
                        <input type="number" id="reciprocating_mass" name="reciprocating_mass" step="any" value="0.8" required>

                        <label for="crank_radius">Crank Radius (mm):</label>
                        <input type="number" id="crank_radius" name="crank_radius" step="any" value="40" required>

                        <label for="piston_pin_diameter">Piston Pin Diameter (mm):</label>
                        <input type="number" id="piston_pin_diameter" name="piston_pin_diameter" step="any" value="22.5" required>

                    </div>
                    <div class="form-column">
                        <label for="crankpin_diameter">Crankpin Diameter (mm):</label>
                        <input type="number" id="crankpin_diameter" name="crankpin_diameter" step="any" value="50" required>

                        <label for="max_engine_rpm">Max Engine RPM:</label>
                        <input type="number" id="max_engine_rpm" name="max_engine_rpm" step="any" value="6000" required>

                        <label for="rod_material_yield_strength">Rod Material Yield Strength (MPa):</label>
                        <input type="number" id="rod_material_yield_strength" name="rod_material_yield_strength" step="any" value="800" required>

                        <label for="bolt_material_yield_strength">Bolt Material Yield Strength (MPa):</label>
                        <input type="number" id="bolt_material_yield_strength" name="bolt_material_yield_strength" step="any" value="1000" required>

                        <label for="safety_factor">Safety Factor:</label>
                        <input type="number" id="safety_factor" name="safety_factor" step="any" value="2.5" required>
                    </div>
                </div>
                <input type="submit" value="Calculate" class="calculate-btn">
            </form>
        </div>

        {% if results %}
        <div class="results-container">
            <h3>Results:</h3>
            <h4>I-Section Shank Dimensions:</h4>
            <p><u>At Big End:</u></p>
            <p>Shank Height: {{ results.big_end_shank_height }}</p>
            <p>Flange Width: {{ results.big_end_flange_width }}</p>
            <p><u>At Small End:</u></p>
            <p>Shank Height: {{ results.small_end_shank_height }}</p>
            <p>Flange Width: {{ results.small_end_flange_width }}</p>
            <p><u>Constant Thickness:</u></p>
            <p>Web & Flange Thickness: {{ results.web_and_flange_thickness }}</p>
            <h4>Bolt Dimensions:</h4>
            <p>Required Bolt Diameter: {{ results.bolt_diameter }}</p>
            <h4>Rod End Dimensions:</h4>
            <p>Small End Outer Diameter: {{ results.small_end_outer_diameter }}</p>
            <p>Small End Wall Thickness: {{ results.small_end_wall_thickness }}</p>
            <p>Big End Outer Diameter: {{ results.big_end_outer_diameter }}</p>
            <p>Big End Wall Thickness: {{ results.big_end_wall_thickness }}</p>
        </div>
        {% endif %}
    </div>
{% endblock %}
