{% extends 'base.html' %}

{% block content %}
    

    <h2>Crankshaft Design</h2>
    <div class="main-container">
        <div class="input-container">
            <form method="post">
                <div class="form-row">
                    <div class="form-column">
                        <label for="piston_diameter">Piston Diameter (mm):</label>
                        <input type="number" id="piston_diameter" name="piston_diameter" step="any" value="90" required>

                        <label for="max_combustion_pressure">Max Combustion Pressure (MPa):</label>
                        <input type="number" id="max_combustion_pressure" name="max_combustion_pressure" step="any" value="9" required>

                        <label for="cylinder_bore_spacing">Cylinder Bore Spacing (mm):</label>
                        <input type="number" id="cylinder_bore_spacing" name="cylinder_bore_spacing" step="any" value="100" required>
                    </div>
                    <div class="form-column">
                        <label for="crankshaft_material_yield_strength">Crankshaft Material Yield Strength (MPa):</label>
                        <input type="number" id="crankshaft_material_yield_strength" name="crankshaft_material_yield_strength" step="any" value="700" required>

                        <label for="allowable_bearing_pressure">Allowable Bearing Pressure (MPa):</label>
                        <input type="number" id="allowable_bearing_pressure" name="allowable_bearing_pressure" step="any" value="15" required>

                        <label for="safety_factor">Safety Factor:</label>
                        <input type="number" id="safety_factor" name="safety_factor" step="any" value="2" required>
                    </div>
                </div>
                <input type="submit" value="Calculate" class="calculate-btn">
            </form>
        </div>

        {% if results %}
        <div class="results-container">
            <h3>Results:</h3>
            <h4>Crankpin (Big End Journal):</h4>
            <p>Crankpin Diameter: {{ results.crankpin_diameter }}</p>
            <p>Crankpin Length: {{ results.crankpin_length }}</p>
            <h4>Main Journal:</h4>
            <p>Main Journal Diameter: {{ results.main_journal_diameter }}</p>
            <p>Main Journal Length: {{ results.main_journal_length }}</p>
            <h4>Crank Web:</h4>
            <p>Crank Web Thickness: {{ results.crank_web_thickness }}</p>
            <p>Crank Web Width: {{ results.crank_web_width }}</p>
        </div>
        {% endif %}
    </div>
{% endblock %}
