{% extends 'base.html' %}

{% block content %}
    

    <h2>Engine Cylinder Design</h2>
    <div class="main-container">
        <div class="input-container">
            <form method="post">
                <div class="form-row">
                    <div class="form-column">
                        <label for="cylinder_bore_diameter">Cylinder Bore Diameter (mm):</label>
                        <input type="number" id="cylinder_bore_diameter" name="cylinder_bore_diameter" step="any" value="90" required>

                        <label for="stroke_length">Stroke Length (mm):</label>
                        <input type="number" id="stroke_length" name="stroke_length" step="any" value="80" required>

                        <label for="max_combustion_pressure">Max Combustion Pressure (MPa):</label>
                        <input type="number" id="max_combustion_pressure" name="max_combustion_pressure" step="any" value="9" required>
                    </div>
                    <div class="form-column">
                        <label for="cylinder_material_strength">Material Allowable Stress (MPa):</label>
                        <input type="number" id="cylinder_material_strength" name="cylinder_material_strength" step="any" value="100" required>

                        <label for="safety_factor">Safety Factor:</label>
                        <input type="number" id="safety_factor" name="safety_factor" step="any" value="2" required>
                    </div>
                </div>
                <input type="submit" value="Calculate" class="calculate-btn">
            </form>
        </div>

        {% if results %}
        <div class="results-container">
            <h3>Results:</h3>
            <h4>Cylinder Body Dimensions:</h4>
            <p>Cylinder Wall Thickness: {{ results.cylinder_wall_thickness }}</p>
            <p>Outer Cylinder Diameter: {{ results.outer_cylinder_diameter }}</p>
            <p>Approx. Cylinder Length: {{ results.cylinder_length }}</p>
            
            <h4>Cylinder Flange Dimensions:</h4>
            <p>Flange Diameter: {{ results.cylinder_flange_diameter }}</p>
            <p>Flange Thickness: {{ results.cylinder_flange_thickness }}</p>

            <div class="note">
                <strong>Note on Cooling Fins:</strong><br>
                {{ results.fin_note }}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
