{% extends 'base.html' %}

{% block content %}
    

    <h2>Piston Design</h2>
    <div class="main-container">
        <div class="input-container">
            <form method="post">
                <div class="form-row">
                    <div class="form-column">
                        <label for="cylinder_bore">Cylinder Bore (mm):</label>
                        <input type="number" id="cylinder_bore" name="cylinder_bore" step="any" value="90" required>

                        <label for="stroke_length">Stroke Length (mm):</label>
                        <input type="number" id="stroke_length" name="stroke_length" step="any" value="80" required>

                        <label for="connecting_rod_length">Connecting Rod Length (mm):</label>
                        <input type="number" id="connecting_rod_length" name="connecting_rod_length" step="any" value="150" required>

                        <label for="deck_height">Deck Height (mm):</label>
                        <input type="number" id="deck_height" name="deck_height" step="any" value="220" required>
                    </div>
                    <div class="form-column">
                        <label for="max_combustion_pressure">Max Combustion Pressure (MPa):</label>
                        <input type="number" id="max_combustion_pressure" name="max_combustion_pressure" step="any" value="8" required>

                        <label for="piston_material_strength">Material Yield Strength (MPa):</label>
                        <input type="number" id="piston_material_strength" name="piston_material_strength" step="any" value="150" required>

                        <label for="safety_factor">Safety Factor:</label>
                        <input type="number" id="safety_factor" name="safety_factor" step="any" value="2" required>
                    </div>
                </div>
                <input type="submit" value="Calculate" class="calculate-btn">
            </form>
        </div>

        {% if results %}
        <div class="results-container">
            <h3>Results:</h3>
            <p>Piston Diameter: {{ results.piston_diameter }}</p>
            <p>Piston Clearance: {{ results.piston_clearance }}</p>
            <p>Compression Height: {{ results.compression_height }}</p>
            <p>Crown Thickness: {{ results.crown_thickness }}</p>
            <p>Max Piston Force: {{ results.max_piston_force }}</p>
            <p>Gudgeon Pin Outer Diameter: {{ results.gudgeon_pin_outer_diameter }}</p>
            <p>Gudgeon Pin Inner Diameter: {{ results.gudgeon_pin_inner_diameter }}</p>
            <p>Piston Skirt Length: {{ results.piston_skirt_length }}</p>
        </div>
        {% endif %}
    </div>
{% endblock %}
