{% extends 'base.html' %}

{% block content %}
    

    <h2>Tyre Design</h2>
    <div class="main-container">
        <div class="input-container">
            <form method="post">
                <div class="form-row">
                    <div class="form-column">
                        <label for="bike_type">Bike type:</label>
                        <select id="bike_type" name="bike_type" required>
                            <option value="commuter">Commuter</option>
                            <option value="sports">Sports</option>
                            <option value="superbike">Superbike</option>
                            <option value="cruiser_touring">Cruiser/Touring</option>
                            <option value="offroad">Offroad</option>
                        </select>

                        <label for="vehicle_mass">Vehicle mass (kg):</label>
                        <input type="number" id="vehicle_mass" name="vehicle_mass" step="any" value="200" required>

                        <label for="rim_diameter">Rim diameter (inches):</label>
                        <input type="number" id="rim_diameter" name="rim_diameter" step="any" value="17" required>
                    </div>
                    <div class="form-column">
                        <label for="aspect_ratio">Desired aspect ratio (%):</label>
                        <input type="number" id="aspect_ratio" name="aspect_ratio" step="any" value="70" required>

                        <label for="section_width">Section width (mm):</label>
                        <input type="number" id="section_width" name="section_width" step="any" value="120" required>
                    </div>
                </div>
                <input type="submit" value="Calculate" class="calculate-btn">
            </form>
        </div>

        {% if results %}
        <div class="results-container">
            <h3>Results:</h3>
            <p>Section height: {{ results['section_height'] }}</p>
            <p>Overall diameter: {{ results['overall_diameter'] }}</p>
            <p>Tread thickness: {{ results['tread_thickness'] }}</p>
            <p>Sidewall thickness: {{ results['sidewall_thickness'] }}</p>
            <p>Bead size: {{ results['bead_size'] }}</p>
            <p>Crown radius: {{ results['crown_radius'] }}</p>
            <p>Contact patch area: {{ results['contact_patch_area'] }}</p>
        </div>
        {% endif %}
    </div>
{% endblock %}
