{% extends 'base.html' %}

{% block content %}
    

    <h2>Wrist Pin Design</h2>
    <div class="main-container">
        <div class="input-container">
            <form method="post">
                <div class="form-row">
                    <div class="form-column">
                        <label for="piston_diameter">Piston Diameter (mm):</label>
                        <input type="number" id="piston_diameter" name="piston_diameter" step="any" value="80" required>

                        <label for="max_gas_pressure">Max Gas Pressure (MPa):</label>
                        <input type="number" id="max_gas_pressure" name="max_gas_pressure" step="any" value="10" required>

                        <label for="wrist_pin_material_yield_strength">Wrist Pin Material Yield Strength (MPa):</label>
                        <input type="number" id="wrist_pin_material_yield_strength" name="wrist_pin_material_yield_strength" step="any" value="800" required>
                    </div>
                </div>
                <input type="submit" value="Calculate" class="calculate-btn">
            </form>
        </div>

        {% if results %}
        <div class="results-container">
            <h3>Results:</h3>
            <p>Wrist Pin Outer Diameter: {{ results['wrist_pin_outer_diameter'] }}</p>
            <p>Wrist Pin Inner Diameter: {{ results['wrist_pin_inner_diameter'] }}</p>
            <p>Bearing Pressure: {{ results['bearing_pressure'] }}</p>
            <p>Bending Stress: {{ results['bending_stress'] }}</p>
            <p>Safety Factor: {{ results['safety_factor'] }}</p>
        </div>
        {% endif %}
    </div>
{% endblock %}
